.game-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    overflow-y: scroll;
    padding-bottom: 40px;
    padding-right: 20px;
}

.game-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 20px;
    padding-left: 10px;
    margin-top: 40px;
    padding-right: 10px;
}