formStyle {
    width: 50%;
    margin: auto;
    padding: 30;
    padding-top: 20;
    box-shadow: 0px 0px 10px rgba(0 0 0 0.5);
}

btn {
    margin-top: 40px
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.register-container>* {
    margin-bottom: 100px;
}

.title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.formControl {
    width: 100%;
    margin-bottom: 20px;
}

.buttonStyle {
    margin-top: 20px;
}