.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formContainer {
    width: 400px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button {
    margin-top: 16px;
}